<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>

    <h2>Mashup Generator</h2>

    <form method="POST">
        <label>Singer Name:</label><br>
        <input type="text" name="singer" required><br><br>

        <label>Number of Videos:</label><br>
        <input type="number" name="videos" required><br><br>

        <label>Duration (seconds):</label><br>
        <input type="number" name="duration" required><br><br>

        <label>Email ID:</label><br>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Generate Mashup">
    </form>

</body>
</html>
